@page "/Add_adults"
@using FileData
@using Microsoft.AspNetCore.Mvc.ModelBinding.Binders
@using Microsoft.Extensions.DependencyInjection
@using Models
@inject User TheUser
@inject NavigationManager NavigationManager

<h3>Add adults</h3>

@code {
    FileContext fc = new FileContext();

    protected override async Task OnInitializedAsync()
    {
        Start();
    }
    
    public void Start()
    {
        if (TheUser.UserName == null)
        {
            Console.WriteLine("User is null! Navigating to login...");

            NavigationManager.NavigateTo("/login");
        }

        string value = TheUser.UserName;
        Console.WriteLine(value);
    }
}