@page "/"
@using Models
@inject User TheUser
@inject NavigationManager NavigationManager

<h1>Welcome to the adult database manager!</h1>

Here you can manage adults.

<div hidden="@hideLogin" class="login-div">
    To do this, you must be logged in.
    <br>
    <br>
    <a href="login">
        Login 
    </a>
    or
    <a href="register">
        register
    </a>
</div>

@code {
    private bool hideLogin = true;

    protected override async Task OnInitializedAsync()
    {
        Start();
    }
    
    public void Start()
    {
        Console.WriteLine("TheUser: " + TheUser.userName);

        if (TheUser.userName == null)
        {
            Console.WriteLine("User is not logged in!");

            hideLogin = false;
        }
    }
}