@page "/login"
@using Models
@using FileData
@namespace LoginComponent

@inject NavigationManager NavigationManager
@inject User TheUser

<h3>Log in/out</h3>

<div class="login-area" hidden="@showLogin">
<div class="form-group">
            <label>User name:</label>
            <input type="text" placeholder="Username..." @bind-value="username"/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="Password..." @bind-value="password"/>
        </div>
<div style="color:red">@errorMessage</div>
</div>
<div hidden="@showLogin" class="login-div">
    <button type="button" @onclick="PerformLogin">
        Login 
    </button>
    or
    <a href="register">
        register
    </a>
</div>
<div hidden="@showLogout" class="logout-div">
    <a href="" @onclick="PerformLogout">
            Log out
        </a>
</div>

@code {
    private bool showLogin = true;
    private bool showLogout = false;
    private string username;
    private string password;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        ShowButtons();
    }
    
    public void ShowButtons()
    {
        // If the user is logged in, show logout
        if (TheUser.UserName != null)
        {
            Console.WriteLine("User IS logged in!");
            showLogin = true;
            showLogout = false;
        }
        else
        {
    // If not, show login
            Console.WriteLine("User is not logged in!");
            showLogin = false;
            showLogout = true;
        }

    }

    public void PerformLogin() {
        errorMessage = "";

        Console.WriteLine("Setting user info...");
        if (username == null || username.Equals("") || password == null || password.Equals(""))
        {
            Console.WriteLine("Lacking info!");
            errorMessage = "Error logging in!";
            return;
        }
        
        // We check if the user exists
        IUsersHandler uh = new UsersHandler();

        if (uh.UserExists(username))
        {
            User TempUser = uh.GetUser(username);
            if (TempUser.Password.Equals(password))
            {
                Console.WriteLine("Logged in!");
                
                TheUser.UserName = username;
                TheUser.Role = "Admin";
                
                NavigationManager.NavigateTo("/");
            }
            else
            {
                errorMessage = "Password incorrect!";
            }
        }
        else
        {
            Console.WriteLine("User doesn't exist!");
            errorMessage = "No such user exists!";
        }
    }

    public void PerformLogout() {
        Console.WriteLine("Wiping user info...");

        username = "";
        password = "";
        errorMessage = "Logout";
        TheUser.UserName = null;
        TheUser.Role = null;
    }

}