@page "/Register"
@using Models
@using FileData
@inject NavigationManager NavigationManager

<h3>Register</h3>

<div class="form-group">
            <label>User name:</label>
            <input type="text" placeholder="user name" @bind-value="username"/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="password" @bind-value="password"/>
        </div>
<div style="color:red">@errorMessage</div>
        <div style="color:green">@successMessage</div>


<div class="choices-div">
    <button type="button" @onclick="PerformRegistration">
        Register 
    </button>
    or
    <a href="" @onclick="Cancel">
        cancel
        </a>
</div>

@code {
    private string username;
    private string password;
    private string errorMessage;
    private string successMessage;

    public void PerformRegistration() {
        if (username == null || username.Equals("") || password == null || password.Equals(""))
        {
            Console.WriteLine("Info lacking!");
            errorMessage = "Please fill out all the forms!";
            successMessage = "";
            return;
        }

        User NewUser = new User();
        NewUser.UserName = username;
        NewUser.Role = "Admin";
        NewUser.Password = password;

    // We write to json if the user doesnt exist
        UsersHandler uh = new UsersHandler();

        if (!uh.UserExists(NewUser.UserName))
        {
            uh.WriteNewUser(NewUser);
            successMessage = "New user successfully registered!";
            errorMessage = "";
        }
        else
        {
            errorMessage = "Username already taken! Try again.";
            successMessage = "";
        }
    }

    public void Cancel() {
        NavigationManager.NavigateTo("/");
    }

}