@page "/Register"
@using Models
@using Assigntment_2_Web_API
@inject NavigationManager NavigationManager
@inject IUserService UserService

<h3>Register</h3>

<div class="form-group">
            <label>User name:</label>
            <input type="text" placeholder="user name" @bind-value="username"/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="password" @bind-value="password"/>
        </div>
<div style="color:red">@errorMessage</div>
        <div style="color:green">@successMessage</div>


<div class="choices-div">
    <button type="button" @onclick="PerformRegistration">
        Register 
    </button>
    or
    <a href="" @onclick="Cancel">
        cancel
        </a>
</div>

@code {
    private string username;
    private string password;
    private string errorMessage;
    private string successMessage;

    public async Task PerformRegistration() {
        if (username == null || username.Equals("") || password == null || password.Equals(""))
        {
            Console.WriteLine("Info lacking!");
            errorMessage = "Please fill out all the forms!";
            successMessage = "";
            return;
        }

        User NewUser = new User();
        NewUser.userName = username;
        NewUser.role = "Admin";
        NewUser.password = password;

        // We check if the user exists
        User temp;
        try
        {
            temp = await UserService.GetUser(username);
            if (temp.userName != null)
            {
                        errorMessage = "Username already taken! Try again.";
                        successMessage = "";
            } else 
            {
                        UserService.AddUserAsync(NewUser);
                        successMessage = "New user successfully registered!";
                        errorMessage = "";
            }
        }
        catch (Exception e)
        {
            Console.WriteLine("Failed to retrieve existing users..."  + e.Message);
            errorMessage = "Failed to retrieve existing users!";
            StateHasChanged();
        }
    }

    public void Cancel() {
        NavigationManager.NavigateTo("/");
    }
}